.homepage-images {
  margin-left: 2rem;
  margin-top: 2rem;
}

.paris-image {
  width: 350px;
  height: 200px;
  margin-left: 2rem;
}

.paris2-image {
  width: 350px;
  height: 200px;
  margin-left: 2rem;
}

.hong-kong {
  width: 350px;
  height: 200px;
  margin-left: 2rem;
}

.london-image {
  width: 500px;
  height: 500px;
  margin-left: 2rem;
  margin-top: 2rem;
}
